<% unless @tasks.exists? %>
  <div class="d-flex justify-content-between"">
    <div>
    </div>
    <div>
      <%= link_to "Add Task",new_task_path, class: "btn btn-primary mb-1" %>

    </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "1.jpg", class: "d-block w-100 h-75"  %>
      </div>
      <div class="carousel-item">
        <%= image_tag "2.jpg", class: "d-block w-100 h-75"  %>
      </div>
      <div class="carousel-item">
        <%= image_tag "3.jpg", class: "d-block w-100 h-75"  %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">check</th>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Priority</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each_with_index do |task, i| %>
      <tr>
        <th scope="row">
          <%= link_to !task.done ? "Mark as done" : "Unmark as done", toggle_path(task), class: "btn #{!task.done ? 'btn-success' : 'btn-danger'} btn-sm", method: :patch, id:"done"  %>
        </th>
        <td><%= i + 1 %></td>
        <% if task.done%>
          <td><s><%= task.content %></s></td>
        <% else %>
          <td><%= task.content %></td>
        <% end %>
        <td>
          <% if task.priority == 3 %>
            <span class="bg-danger text-white">
              <%="High"%>
            </span>
          <% elsif task.priority == 2 %>
            <span class="bg-warning text-white">
              <%="Normal"%>
            </span>
          <% elsif task.priority == 1 %>
            <span class="bg-success text-white">
              <%="Low"%>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to "",edit_task_path(task), class:"fas fa-pencil-alt" %>
          <%= link_to "",task_path(task), method: :delete, class:"far fa-trash-alt ml-2" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <%= link_to "Delete all",tasks_to_delete_path, class: "btn btn-danger mb-1", method: :delete %>
      <%= link_to "Add Task",new_task_path, class: "btn btn-primary mb-1" %>
    </div>
  </div>
<% end %>
