<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "To Do", tasks_path, class:"navbar-brand"   %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order By
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "High priority", tasks_path(q: "high"), class:"dropdown-item" %>
            <%= link_to "Low priority", tasks_path(q: "low"), class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Older", tasks_path(q: "older"), class:"dropdown-item" %>
            <%= link_to "Recent", tasks_path(q: "recent"), class:"dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, class:"nav-link", method: :delete  %>
        </li>
        <li>
          <a href="https://github.com/aahrodriguez/to_do" target="_blank" class="btn btn-success">Show me the code</a>
        </li>
      </ul>

      <%= simple_form_for :search, url: tasks_path, method: "GET", html: { class: 'form-inline my-2 my-lg-0' } do |f| %>
        <%= f.input :i, input_html: {value: ""}, class: "form-control mr-sm-2", label:false, placeholder: "Search" %>
        <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0 ml-1" %>
      <% end %>
    </div>
  </nav>
<% end %>
